name: OrionCart Monorepo CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  # ======================
  # FRONTEND BUILD
  # ======================
  client-build:
    name: Build Next.js Client
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: client

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: client/package-lock.json

      - name: Install Dependencies
        run: npm install

      - name: Build Client
        run: npm run build


  # ======================
  # BACKEND CHECK
  # ======================
  server-build:
    name: Install Server Dependencies
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: server/package-lock.json

      - name: Install Dependencies
        run: npm install
