name: OrionCart CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:

  client-build:
    name: Build Frontend
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: client

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Client
        run: npm install

      - name: Build Client
        run: npm run build


  server-check:
    name: Backend Install Check
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Server
        run: npm install
